#
# Sample file for local configuration
#

[Server]
port = 8135
type = hunchentoot
static-files = html           # Path to static files
static-prefix = /static/      # URL prefix that indicates static file


# Database section contains relevant information for setting up connections
[Database]
type = oracle
name = localhost:1521/orcl
username = scott
password = tiger

# For SQLite database use the following
# type = sqlite3
# name = path-to-sqlite.db


[Policy]
rules = test/policies/test.acl
